@import url(https://fonts.google.com/specimen/Russo+One?selection.family=Russo+One);

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
}
.header {
  grid-area: header;
}
.nav {
  grid-area: nav;
  position:relative;

}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}
body {
  background: radial-gradient(
    circle,
    rgba(9, 9, 121, 0.9528011888349089) -43%,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}
.header > .img_about {
  display: flex;
  background-image: url(/itsme.png);
  width: 100%;
  height: 250px;
  margin-top: -120px;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 1;
}

h1 {
  margin-top: 10px;
  margin-left: 50px;
  font-family: "Russo One";
  color: white;
  font-size: 50px;
  text-shadow: 5px 5px 4px rgb(39, 128, 211);
  position: fixed;
  z-index: 2;

}

/* ---------------------dropdown Menü----------------------------------------- */
.nav_res {
  display: flex;
  margin-left: 200px;
  margin-top: 120px;
  justify-content: center;
  position: fixed;
  z-index: 2;
}

.btn_layer,
.btn_layer2,
.btn_layer3 {
  background-color: rgb(255, 255, 255);
  width: 60px;
  height: 8px;
  margin: 6px;
  border-radius: 5px;
  box-shadow: 5px 5px 4px rgb(39, 128, 211);
}

.btn_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -65px;
  align-items: center;
}

.dropbtn {
  background-repeat: no-repeat;
  background-size: cover;
  max-height: fit-content;
  width: 60px;
  border: none;
  cursor: pointer;
}
.dropdown {
  display: flex;
  align-items: center;
  position: relative;
  display: inline-block;
  border: 1px black solid;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: auto;
  z-index: 1;
}
.dropdown-content > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding: 5px;
  text-decoration: none;
  display: block;
}
.nav:hover .dropdown-content {
  display: block;
}
.dropdown-content > a:hover {
  color: rgb(45, 124, 170);
}

.main {
display: flex;
  flex-direction: column;
  margin-top: 140px;
  border: 1px black solid; 
  font-family: arial;
  position: relative;
position: 2;
}

.main > .startpage h2 {
  font-weight: bold;
}

.main > .startpage {
  border: 1px rgb(255, 9, 9) solid;
  color: white;
}
.main > .about {
  border: 1px rgb(244, 244, 248) solid;
}
.main > .projects {
  border: 1px rgb(154, 223, 25) solid;
}
.main > .links {
  border: 1px rgb(211, 0, 165) solid;
}



 