@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
}
.header {
  grid-area: header;
}
.nav {
  grid-area: nav;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}
body {
  background: radial-gradient(
    circle,
    rgba(9, 9, 121, 0.9528011888349089) -43%,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}
.header > .img_about {
  display: flex;
  background-image: url(/itsme.png);
  width: 100%;
  height: 250px;
  margin-top: -120px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
}

h1 {
  margin-top: 10px;
  margin-left: 50px;
  font-family: "Russo One";
  color: white;
  font-size: 50px;
  text-shadow: 5px 5px 4px rgb(39, 128, 211);
  position: fixed;
  z-index: 2;
}

/* ---------------------dropdown Menü----------------------------------------- */
.nav_res {
  display: flex;
  margin-left: 200px;
  margin-top: 120px;
  justify-content: center;
  position: fixed;
  z-index: 2;
}
@media screen and (min-width: 300px){
  .nav_res{
    margin-left: 420px;
    margin-top: 80px;
  }  
}

.btn_layer,
.btn_layer2,
.btn_layer3 {
  background-color: rgb(255, 255, 255);
  width: 60px;
  height: 8px;
  margin: 6px;
  border-radius: 5px;
  box-shadow: 5px 5px 4px rgb(39, 128, 211);
}

.btn_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -65px;
  align-items: center;
}

.dropbtn {
  background-repeat: no-repeat;
  background-size: cover;
  max-height: fit-content;
  width: 60px;
  border: none;
  cursor: pointer;
}
.dropdown {
  display: flex;
  align-items: center;
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  font-size: 30px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: auto;
  z-index: 1;
}
.dropdown-content {
  list-style: none;
}

.dropdown-content li > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding: 5px;
  text-decoration: none;
  display: block;
}
.nav:hover .dropdown-content {
  display: block;
}
.dropdown-content > li > a:hover {
  color: rgb(45, 124, 170);
}


#main {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  margin-top: 130px;
  font-family: arial;
  position: relative;
  z-index: -1;
  padding: 10px;
  background-color: rgba(66, 151, 190, 0.295);
}

h2 {
  color: white;
  font-weight: bold;
  background-color: rgb(53, 71, 121);
  padding: 10px;
  width: 100%;
  text-shadow: 2px 1px 8px rgb(53, 7, 7);
  box-shadow: 2px 2px 9px thistle;
}


#startpage > p,
#about > p,
#projects > p,
#links > p {
  color: rgb(255, 255, 255);
  padding: 5px;
  background-color: rgba(103, 151, 212, 0.322);
}


#startpage, #about, #projects, #links{
  display: flex;
  flex-direction:column;
  align-items: center;
  
}

#about > img, #projects > img, #links > img{
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 200px;
  border: 10px rgba(110, 136, 192, 0.671) solid;
  border-radius: 20px;
}
#about > img:hover{

  border: 10px rgba(252, 252, 252, 0.671) solid;
}

#projects > img{

  height: 300px;
  width: 400px;
}


.content > p {
  padding: 10px;
}

img{
    border: 10px rgba(248, 248, 248, 0.671) solid;
}

@media screen and (min-width: 1023px) and (max-width: 1199px) {
  h1 {
    align-content: center;
    font-size: 100px;
  }
  .nav_res {
    margin-top: 100px;
    margin-left: 580px;
  }
  .nav {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  #main {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    margin-top: 130px;
    font-family: arial;
    position: relative;
    z-index: -1;
    padding: 10px;
    background-color: rgba(66, 151, 190, 0.295);
  
  }

}
  

@media screen and (min-width: 1200px) {
  .img_about {
    position: fixed;
  }

  h1 {
    align-content: center;
    font-size: 100px;
    position: absolute;
  }

  .nav_res {
    margin-top: 100px;
    margin-left: 760px;
    position: fixed;
  }
}
