.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 10fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "right header header header header ."
    "right nav nav nav left left"
    "right main main main left left"
    "right main main main left left"
    "right footer footer footer footer footer";
}

.header {
  grid-area: header;
  position: fixed;
}
.nav {
  grid-area: nav; 
  margin-left: 200px;
}
.right {
  grid-area: right;
}
.left {
  grid-area: left;

}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}
body {
  background: radial-gradient(
    circle,
    rgba(9, 9, 121, 0.9528011888349089) -43%,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-container > .header > h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Russo One";
  font-size: 100px;
  text-align: center;
  color: white;
  text-shadow: 5px 5px 30px black;
}

.grid-container h1 > b:nth-child(1) {
  display: flex;
  flex-direction: row;
  color: tomato;
}

.navi {
  display: flex;
  font-family: "Russo One";
  font-size: 30px;
  position: relative;
}


.navi:hover b:nth-child(1) {
  color: rgb(19, 49, 179);
}

.nav .navi > a {
  display: flex;
  color: white;
  text-decoration: none;
  padding-left: 60px;
}

.navi > p{
    text-align: right;
}

.navi > p:hover {
  color: rgb(13, 93, 184);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  cursor: pointer;
}


.img_about {
  background-image: url(/itsme.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30vw;
  height: 1024px;
  position: fixed;
  max-width: 40%;
}

.footer > p{
    color: rgb(11, 62, 156);
 background-color:rgb(20, 20, 83);
 opacity: 0.5;
 height: 100vw;
}
